<div class="Loanchart-title" style="display:table;">
    <div style="float:left;width:50%;">
        <h4>Add Reason for customer loan application</h4>
    </div>
    <div style="float:left;width:50%;padding-top: 20px;padding-bottom:25px;text-align:right;">
        <button (click)="this.onSave()" style="width:150px;height: 50px;background-color: #094b03;margin-right:5px;" type="button" class="btn-btn-success"> Save </button>
    </div>
</div>
<!-- <div class="Loanchart-chatAcct ">

</div> -->
<div style="width: 100%;display: table; ">
    <div class="loan-list" style="float:left;width:95%;">
        <div class="Profile-Details " style="overflow:auto;">

            <p>
                <input style="padding-left: 10px;padding-right: 10px; width: 35%;" type="text" required [(ngModel)]="this.NewNarrations" placeholder="Enter Narrations e.g Hospital" class="NewLoanTenure" maxlength="1000" />
            </p>

        </div>

        <!-- this.ProfileDetails.accountId this.ProfileDetails.id this.ProfileDetails.staff -->
    </div>
</div>
<app-spinner-loading></app-spinner-loading>
<router-outlet></router-outlet>