<div *ngIf="ShowAdminRouteLet">
    <div id="navbar" class="container_Header" style="z-index: 999 !important;">
        <app-admin-top></app-admin-top>
    </div>

    <div class="container_Content-Stages"></div>

    <div class="container_Content" [style.height.px]="heightScren">
        <div class="Menu-Bar-Container" #mainScreen [style.height.px]="heightScren">
            <app-admin-menu></app-admin-menu>
        </div>

        <div class="Content-Container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div *ngIf="ShowRouteLet">
    <router-outlet> </router-outlet>
</div>
<!-- <app-admin-router-outlet> </app-admin-router-outlet> -->