<div class="Loanchart-title" style="display:table;">
    <div style="float:left;display:flex;width:30%;align-items:center;padding-top: 10px;padding-bottom: 10px;">
        <div class="image" style="flex-basis:20%;padding-top:7px;">
            <button (click)="this.onBackWard($event)" style="background-color: transparent;border: 0px solid transparent;cursor: pointer;"> <img style="padding-left: 10px;" width="20" src="assets/images/icons8-arrow-96-green.png" /></button>
        </div>
        <div class="text" style="color: #000000;padding-left: 20px;text-align: center;">
            <h4 style="font-size: 14px;">Edit Team Member Permission</h4>
        </div>
    </div>
    <div style="float:left;width:70%;padding-top: 20px;padding-bottom:25px;text-align:right;">
        <button *ngIf="this.LoginUserPermission!= null && this.LoginUserPermission!= undefined && this.LoginUserPermission.AccessRighttocreateateammember" (click)="this.onEditTeamMember()" style="width:150px;height: 50px;background-color: #094b03;margin-right:5px;"
            type="button" class="btn-btn-success">Save</button>
    </div>
</div>

<!-- <div class="Loanchart-chatAcct"></div> -->

<div *ngIf="this.permissionInfo != null && this.permissionInfo != undefined" style="width: 100%;display: table;">

    <div class="loan-list" style="float:left;width:46%;">

        <h4>
            {{this.permissionInfo.enterFirstName}}, {{this.permissionInfo.enterMiddleName}}, {{this.permissionInfo.enterLastName}}
        </h4>

        <p>
            <select (change)="onhangeUserRole($event)" style="padding-left: 10px;padding-right: 10px; width: 75.5%;" [(ngModel)]="this.UserType" class="NewLoanTenure" required>
                <option style="width: 100px;" selected value="">--Select---User---Role--</option>
                <option style="width: 100px;"  value="RELATIONSHIP OFFICER">RELATIONSHIP OFFICER</option>
                <option style="width: 100px;"  value="TEAM LEADS">TEAM LEADS</option>
                <option style="width: 100px;"  value="RECONCILIATION AND ACCOUNT OFFICER">RECONCILIATION AND ACCOUNT OFFICER(RAO)</option>
                <option style="width: 100px;"  value="ASSISTANT HEAD OF OPERATION">ASSISTANT HEAD OF OPERATION</option>
                <option style="width: 100px;"  value="HEAD OF OPERATIONS">HEAD OF OPERATION</option>
                <option style="width: 100px;"  value="GROUP HEAD">GROUP HEAD</option>
                <option style="width: 100px;"  value="DISBURSEMENT OFFICER">DISBURSEMENT OFFICER</option>
            </select>
        </p>

        <p>
            <select style="padding-left: 10px;padding-right: 10px; width: 75.5%;" [(ngModel)]="this.SelectHubGroupIdd" class="NewLoanTenure" required>
                <option style="width: 100px;" selected value="">---Select---Hub---</option>
                <option style="width: 100px;" *ngFor="let item of this.appDashboard.DataTableLists" value="{{item.id}}">{{item.hubTeamGroupName}}</option>
            </select>
        </p>

        <h4>
            Access Right
        </h4>
        <br/>
        <p>
            <input [(ngModel)]="this.AllPermissions" type="hidden" />
            <label class="container">Select All Permissions
            <input [checked]="this.AllPermissions" 
            (change)="onAllPermissions($event)" type="checkbox" />
            <span class="checkmark"></span>
           </label>
        </p>
        <br/>
        <p>
            <input [(ngModel)]="this.SelectHubGroupId" type="hidden" />
            <label class="container">Access Right to create a hub.
            <input [checked]="this.AccessRighttocreateahub" 
            (change)="onAccessRighttocreateahub($event)" type="checkbox" />
            <span class="checkmark"></span>
           </label>
        </p>

        <p>
            <label class="container">Access Right to view hubs.
            <input [checked]="this.AccessRighttoviewhubs" 
            (change)="onAccessRighttoviewhubs($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to create a team member.
            <input [checked]="this.AccessRighttocreateateammember" 
            (change)="onAccessRighttocreateateammember($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to view team members.
            <input [checked]="this.AccessRighttoviewveammembers" 
            (change)="onAccessRighttoviewveammembers($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to edit team member permissions.
            <input [checked]="this.AccessRightToEditTeamMemberPermissions" 
            (change)="onAccessRightToEditTeamMemberPermissions($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to approve customer loans.
            <input [checked]="this.AccessRighttoapprovecustomerloan" 
            (change)="onAccessRighttoapprovecustomerloan($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to reject a loans.
            <input [checked]="this.AccessRighttorejectaloan" 
            (change)="onAccessRighttorejectaloan($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to view loan details.
            <input [checked]="this.AccessRighttoviewloandetails" 
            (change)="onAccessRighttoviewloandetails($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to view customers loans.
            <input [checked]="this.AccessRighttoviewcustomersloans" 
            (change)="onAccessRighttoviewcustomersloans($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to disable hubs.
          <input [checked]="this.AccessRighttodisablehubs" 
          (change)="onAccessRighttodisablehubs($event)" type="checkbox" />
          <span class="checkmark"></span>
      </label>
        </p>

        <p>
            <label class="container">Access Right to view customers.
          <input [checked]="this.AccessRighttoviewcustomers" 
          (change)="onAccessRighttoviewcustomers($event)" type="checkbox" />
          <span class="checkmark"></span>
      </label>
        </p>

        <p>
            <label class="container">Access Right to disable customers to apply for a loan.
          <input [checked]="this.AccessRighttodisablecustomerstoapplyforaloan" 
          (change)="onAccessRighttodisablecustomerstoapplyforaloan($event)" type="checkbox" />
          <span class="checkmark"></span>
      </label>
        </p>





        <p style="padding-bottom:0.1px;padding-top:0.1px;">

        </p>
    </div>

    <div class="loan-list" style="float:left;width:46%;">
        <p>
            <label class="container">Access Right to create loan narration.
                <input [checked]="this.CreateLoanNarration"  (change)="onCreateLoanNarration($event)" type="checkbox" />
                <span class="checkmark"></span>
                </label>
        </p>

        <p>
            <label class="container">Access Right to view loan narration.
      <input [checked]="this.ViewLoanNarration" 
      (change)="onViewLoanNarration($event)" type="checkbox" />
      <span class="checkmark"></span>
  </label>
        </p>

        <p>
            <label class="container">Access Right to upload repayment loans
            <input [checked]="this.AccessRightToUploadBackRepaymentLoan" 
            (change)="onAccessRightToUploadBackRepaymentLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to upload back disbursement loan.
            <input [checked]="this.AccessRightToUploadBackDISBURSEMENTLoan" 
            (change)="onAccessRightToUploadBackDISBURSEMENTLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to anonymous loans.
            <input [checked]="this.AccessRightToAnonymousLoanApplication" 
            (change)="onAccessRightToAnonymousLoanApplication($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to export disbursement loans.
            <input [checked]="this.AccessRightToExportDISBURSEMENTLoan" 
            (change)="onAccessRightToExportDISBURSEMENTLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to view repayment loans.
            <input [checked]="this.AccessRightToViewUploadBackRepaymentLoan" 
            (change)="onAccessRightToViewUploadBackRepaymentLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to view disbursed loans
            <input [checked]="this.AccessRightToViewDisbursementLoan" 
            (change)="onAccessRightToViewDisbursementLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to teams And permissions.
            <input [checked]="this.AccessRighttoteamsAndpermissions" 
            (change)="onAccessRighttoteamsAndpermissions($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to loan settings.
            <input [checked]="this.AccessRighttoloansettings" 
            (change)="onAccessRighttoloansettings($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to create tenure.
            <input [checked]="this.AccessRighttocreatetenure" 
            (change)="onAccessRighttocreatetenure($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to view tenures.
            <input [checked]="this.AccessRighttoviewtenure" 
            (change)="onAccessRighttoviewtenure($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to print loans
            <input [checked]="this.AccessRightToPrintLoan" 
            (change)="onAccessRightToPrintLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p style="padding-bottom:145px;padding-top:145px;">

        </p>
        <!-- <p></p> -->
        <!-- this.ProfileDetails.accountId this.ProfileDetails.id this.ProfileDetails.staff -->
    </div>
</div>

<div *ngIf="this.permissionInfo == null || this.permissionInfo === undefined" style="width: 100%;display: table;">

    <div class="loan-list" style="float:left;width:46%;">

        <h4>
            {{this.permissionInfo.enterFirstName}}, {{this.permissionInfo.enterMiddleName}}, {{this.permissionInfo.enterLastName}}
        </h4>

        <p>
            <input [(ngModel)]="this.SelectHubGroupId" type="hidden" />
            <label class="container">Access Right to create a hub.
            <input [checked]="this.AccessRighttocreateahub" 
            (change)="onAccessRighttocreateahub($event)" type="checkbox" />
            <span class="checkmark"></span>
           </label>
        </p>

        <p>
            <label class="container">Access Right to view hubs.
            <input [checked]="this.AccessRighttoviewhubs" 
            (change)="onAccessRighttoviewhubs($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to create a team member.
            <input [checked]="this.AccessRighttocreateateammember" 
            (change)="onAccessRighttocreateateammember($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to view veam members.
            <input [checked]="this.AccessRighttoviewveammembers" 
            (change)="onAccessRighttoviewveammembers($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to edit team member permissions.
            <input [checked]="this.AccessRightToEditTeamMemberPermissions" 
            (change)="onAccessRightToEditTeamMemberPermissions($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to approve customer loan.
            <input [checked]="this.AccessRighttoapprovecustomerloan" 
            (change)="onAccessRighttoapprovecustomerloan($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to reject a loan.
            <input [checked]="this.AccessRighttorejectaloan" 
            (change)="onAccessRighttorejectaloan($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to view loan details.
            <input [checked]="this.AccessRighttoviewloandetails" 
            (change)="onAccessRighttoviewloandetails($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to view customers loans.
            <input [checked]="this.AccessRighttoviewcustomersloans" 
            (change)="onAccessRighttoviewcustomersloans($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to disable hubs.
          <input [checked]="this.AccessRighttodisablehubs" 
          (change)="onAccessRighttodisablehubs($event)" type="checkbox" />
          <span class="checkmark"></span>
      </label>
        </p>

        <p>
            <label class="container">Access Right to view customers.
          <input [checked]="this.AccessRighttoviewcustomers" 
          (change)="onAccessRighttoviewcustomers($event)" type="checkbox" />
          <span class="checkmark"></span>
      </label>
        </p>

        <p>
            <label class="container">Access Right to disable customers to apply for a loan.
          <input [checked]="this.AccessRighttodisablecustomerstoapplyforaloan" 
          (change)="onAccessRighttodisablecustomerstoapplyforaloan($event)" type="checkbox" />
          <span class="checkmark"></span>
      </label>
        </p>





        <p style="padding-bottom:0.1px;padding-top:0.1px;">

        </p>
    </div>

    <div class="loan-list " style="float:left;width:46%; ">


        <p>
            <label class="container">Access Right to create loan narration.
      <input [checked]="this.CreateLoanNarration" 
      (change)="onCreateLoanNarration($event)" type="checkbox" />
      <span class="checkmark"></span>
  </label>
        </p>

        <p>
            <label class="container">Access Right to view loan narration.
      <input [checked]="this.ViewLoanNarration" 
      (change)="onViewLoanNarration($event)" type="checkbox" />
      <span class="checkmark"></span>
  </label>
        </p>

        <p>
            <label class="container">Access Right to upload repayment Loans
            <input [checked]="this.AccessRightToUploadBackRepaymentLoan" 
            (change)="onAccessRightToUploadBackRepaymentLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to upload back disbursement loan.
            <input [checked]="this.AccessRightToUploadBackDISBURSEMENTLoan" 
            (change)="onAccessRightToUploadBackDISBURSEMENTLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to anonymous loan application.
            <input [checked]="this.AccessRightToAnonymousLoanApplication" 
            (change)="onAccessRightToAnonymousLoanApplication($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to export disbursement loan.
            <input [checked]="this.AccessRightToExportDISBURSEMENTLoan" 
            (change)="onAccessRightToExportDISBURSEMENTLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to view upload back repayment loan.
            <input [checked]="this.AccessRightToViewUploadBackRepaymentLoan" 
            (change)="onAccessRightToViewUploadBackRepaymentLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to view disbursed loan
            <input [checked]="this.AccessRightToViewDisbursementLoan" 
            (change)="onAccessRightToViewDisbursementLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to teams And permissions.
            <input [checked]="this.AccessRighttoteamsAndpermissions" 
            (change)="onAccessRighttoteamsAndpermissions($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to loan settings.
            <input [checked]="this.AccessRighttoloansettings" 
            (change)="onAccessRighttoloansettings($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to create tenure.
            <input [checked]="this.AccessRighttocreatetenure" 
            (change)="onAccessRighttocreatetenure($event)" type="checkbox" />
            <span class="checkmark"></span>
        </label>
        </p>

        <p>
            <label class="container">Access Right to view tenure.
            <input [checked]="this.AccessRighttoviewtenure" 
            (change)="onAccessRighttoviewtenure($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p>
            <label class="container">Access Right to print a loan
            <input [checked]="this.AccessRightToPrintLoan" 
            (change)="onAccessRightToPrintLoan($event)" type="checkbox" />
            <span class="checkmark"></span>
            </label>
        </p>

        <p style="padding-bottom:29px;padding-top:29px;">

        </p>
        <!-- <p></p> -->
        <!-- this.ProfileDetails.accountId this.ProfileDetails.id this.ProfileDetails.staff -->
    </div>
</div>
<app-spinner-loading></app-spinner-loading>
<router-outlet></router-outlet>